#e32_2 { 
	overflow:hidden;
	opacity:1;
	width:1440px;
	height:1024px;
	position:absolute;
}
#e30_4 { 
	opacity:1;
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/edesktop___1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e31_14 { 
	background-color:rgba(128.38541328907013, 182.21873581409454, 212.4999949336052, 0.75);
	opacity:1;
	width:1161px;
	height:521px;
	position:absolute;
	left:148px;
	top:248px;
}
#e31_15 { 
	color:rgba(30.81250101327896, 58.85690376162529, 85.0000025331974, 1);
	opacity:1;
	width:293px;
	height:178px;
	position:absolute;
	left:262px;
	top:328px;
	font-family:Roboto;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
	line-height:undefined;
}
#e31_17 { 
	background-color:rgba(81.00000277161598, 140.00000685453415, 195.0000035762787, 1);
	opacity:1;
	width:262px;
	height:57px;
	position:absolute;
	left:246px;
	top:579px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
#e31_18 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(74.36614394187927, 211.15968525409698, 241.18749797344208, 0.8500000238418579) 73.4375%) ;
	opacity:1;
	width:660px;
	height:775px;
	position:absolute;
	left:612px;
	top:125px;
}
#e31_19 { 
	color:rgba(80.64375668764114, 140.36899745464325, 195.49999594688416, 1);
	opacity:1;
	width:221px;
	height:84px;
	position:absolute;
	left:670px;
	top:212px;
	font-family:Red Hat Display;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
	line-height:undefined;
}
#e31_20 { 
	opacity:1;
	border:1px solid rgba(150.87499290704727, 120.07135301828384, 120.07135301828384, 1);
	width:540.0037231445312px;
	height:0px;
	position:absolute;
	left:672.9981689453125px;
	top:447.9944763183594px;
}
#e31_21 { 
	opacity:1;
	border:1px solid rgba(150.87499290704727, 120.07135301828384, 120.07135301828384, 1);
	width:540.0037231445312px;
	height:0px;
	position:absolute;
	left:673px;
	top:576px;
}
#e31_22 { 
	color:rgba(160.43749898672104, 145.0622320175171, 145.0622320175171, 1);
	opacity:1;
	width:69px;
	height:41px;
	position:absolute;
	left:683px;
	top:397px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e31_23 { 
	color:rgba(160.43749898672104, 145.0622320175171, 145.0622320175171, 1);
	opacity:1;
	width:113px;
	height:41px;
	position:absolute;
	left:683px;
	top:530px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e31_24 { 
	background-color:rgba(160.00000566244125, 145.00000655651093, 145.00000655651093, 1);
	opacity:1;
	width:24px;
	height:20px;
	position:absolute;
	left:1180px;
	top:406px;
}
#e31_25 { 
	background-color:rgba(160.00000566244125, 145.00000655651093, 145.00000655651093, 1);
	opacity:1;
	width:16px;
	height:21px;
	position:absolute;
	left:1188px;
	top:538px;
}
#e31_26 { 
	color:rgba(100.9375025331974, 75.703125, 75.703125, 1);
	opacity:1;
	width:200px;
	height:49px;
	position:absolute;
	left:1022px;
	top:591px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e31_28 { 
	background-color:rgba(81.00000277161598, 140.00000685453415, 195.0000035762787, 1);
	opacity:1;
	width:205px;
	height:49px;
	position:absolute;
	left:839px;
	top:754px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
#e31_27 { 
	color:rgba(255, 243.31249594688416, 247.47933715581894, 1);
	opacity:1;
	width:119px;
	height:40px;
	position:absolute;
	left:882px;
	top:758px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}
#e31_16 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:156px;
	height:62px;
	position:absolute;
	left:299px;
	top:576px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
	line-height:undefined;
}
