body{
    background: white;

}

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(23, 79, 182);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #b0cefc;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .navb img{
      width:50px;
  }

.container{
    margin-left: 18%;
}
  .column {
    float: left;
    width: 30%;
    padding: 50px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    color: black;
    margin-bottom: 2px;
    margin-top:10px
  }
  
  .containerTab {
    padding: 20px;
    color: white;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Closable button inside the container tab */
  .closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  .card-body{
    width:60%;
    background: #b0cefc;
  }

footer{
    text-align: center;
}